chrome-headless-shell-win64.zip
chrome-win64.zip
firefox-win64.zip
webkit-win64.zip

1chrome-headless-shell-win64/chrome-headless-shell-win64/
1chrome-win64/
1firefox-win64/
1webkit-win64/

zip-parts/webkit-win64/
zip-parts/firefox-win64/
zip-parts/chrome-win64/